*{
    font-family: arial;
    font-size: 12px;
}
.logo{
    background-image: url(/images/logo.png);
    width: 500px;
    height: 200px;
}
.screen1{
    background-color: #e2656b;
    color: white;
    width: 40%;
    margin:auto;
    padding: 10px;
    border-radius: 5px;
}
ul{
    background-color: #e2656b;
}
li{
    background-color: #e2656b;
}
select{
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #e2656b;
    outline:none;
    margin-left: 5px;
}
option{
    outline:none;
    border:none;
}
.divForm{
    width:50%;
    margin: auto;
}
.logo{
    width: 20%;
    height: 5%;
    align:center;
}