*{
    font-family: "Times New Roman";
}
body {
    text-align: justify !important;
    text-justify: inter-word;
}
.logo{
    max-width: 60%;
    margin-top: 3%;
    margin-bottom: 20px;
}
.logo img{
    max-width: 100%;
}
.screen1{
    color: white;
    width: 50%;
    margin:auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.header{
    letter-spacing: 2px;
    text-align:center;
    margin-bottom: 20px;
}
select{
    border-top:none;
    border-left:none;
    border-right:none;
    outline:none;
    margin-left: 5px;
    max-width: 100%;
    margin-bottom: 1%;
}
label {
    display:block !important;
}
option{
    outline:none;
    border:none;
}
.divForm{
    width:50%;
    margin: auto;
}
.self-censorship{
    text-align: center;
    font-style: italic;
    color:grey;
    font-weight: bold;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.lang-selector label{
    margin: 0!important;
    display: inline-block!important;
}
#long-q {
    margin-bottom: 3%;
}

div#q2, div#q2 label, div#q2 select, div#q2 option,
div#q3, div#q3 label, div#q3 select, div#q3 option,
div#q4, div#q4 label, div#q4 select, div#q4 option,
div#q5, div#q5 label, div#q5 select, div#q5 option,
div#q6, div#q6 label, div#q6 select, div#q6 option,
div#q7, div#q7 label, div#q7 select, div#q7 option {
    display: none;
}

input[type="submit"] {
    margin-top: 10px;
    margin-bottom: 3%;
    display: none;
}

.container {
    width: 100%;
    margin-top: 2%;
    border: 2px solid #e2656b;
}
.btn-primary {
    font-size: 20px;
    margin-bottom: 10px; 
}

@media screen and (max-width: 575.98px) { 
    input[type="submit"]{
        display: block;
        width: 100%;
    }
    body {
        font-size: 20px!important;
    }
    .logo {
        max-width: 90%;
    }
    .divForm {
        width: 90%;
    }
    .screen1 {
        width: 90%;
    }
 }

@media screen and (min-width: 576px) and (max-width: 790px) { 
    .input[type="submit"] {
        display: block;
        width: 100%;
    }
    body {
        font-size: 14px!important;
    }
    .logo {
        max-width: 80%;
    }
    .divForm {
        width: 75%;
    }
    .screen1 {
        width: 75%;
    }
 }


