<html>
    <head>
        <title>Language Select Test Page</title>
    </head>
    <body>
        <label>What type of user are you?</label>
        <select>
            <option>Scholar</option>
            <option>Professor</option>
            <option>etc</option>
        </select>
        <label>Select your country of residence: </label>
        <select name="countries">
            {% for coun in countries %}
            <option name="{{ coun["country"] }}" value="{{ coun["continent"] }}">{{ coun["country"] }}</p>
            {% endfor %}
        </select>
    </body>
</html>
