<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
        <title>Language Select Test Page</title>
    </head>
    <body>
        <label>What type of user are you?</label>
        <select>
            <option>Scholar</option>
            <option>Professor</option>
            <option>etc</option>
        </select>

        <label>Select your native language: </label>
        <select name="language">
            {% for lang in languages %}
            <option name="{{ languages[lang] }}" value="{{ languages[lang] }}">{{ languages[lang]['native'] }}</p>
            {% endfor %}
        </select>
    </body>
</html>