<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Scholars At Risk</title>
</head>

<body>
    <div>
        <p>This is placeholder introductory information.</p>
    </div>
    <form>
        <div>
            <label>Please identify your user type: <label>
            <select name="user">
                <option value=""></option>
                <option value="Scholar">Scholar</option>
                <option value="Student">Student</option>
                <option value="Administrator">Administrator</option>
                <option value="Non-University">Non-University</option>
            </select>
        </div>
        <div>
            <label>Please identify your age range: <label>
            <select name="age">
                <option value=""></option>
                <option value="20-29">20-29</option>
                <option value="30-39">30-39</option>
                <option value="40-49">40-49</option>
                <option value="50-59">50-59</option>
                <option value="60-69">60-69</option>
                <option value="70+">70+</option>
            </select>
        </div>
        <div>
            <label>Please identity your gender: </label>
            <select name="gender">
                <option value=""></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Nonbinary">Nonbinary</option>
            </select>
        </div>
        <div>
            <label>Please identify your country of residence: </label>
            <select name="countries">
                <option value=""></option>
                {% for coun in countries %}
                <option name="{{ coun["country"] }}" value="{{ coun["continent"] }}">{{ coun["country"] }}</p>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Please identify your primary professional language: </label>
            <select name="language">
                <option value=""></option>
                {% for lang in languages %}
                <option name="{{ languages[lang] }}" value="{{ languages[lang] }}">{{ languages[lang]['native'] }}</p>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Please identify your employment status: </label>
            <select name="employment">
                <option value=""></option>
                <option value="Tenure or permanent">Tenure or other permanent employment</option>
                <option value="Full time time limited">Full-time time-limited contract</option>
                <option value="Adjunct or part time">Adjunct or part-time contract</option>
                <option value="Part time">Part-time no contract</option>
                <option value="Not employed">Not employed</option>
            </select>
        </div>
        <div>
            <label>Please identify your disciple area: </label>
            <select name="employment">
                <option value=""></option>
                <option value="Natural Sciences">Natural Sciences</option>
                <option value="Social Sciences">Social Sciences</option>
                <option value="Arts and Humanities">Arts and Humanities</option>
                <option value="Engineering">Engineering</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Medicine">Medicine</option>
                <option value="Business and Finance">Business/Finance</option>
                <option value="Law and Human Rights">Law/Human Rights</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div>
            <label>How sensitive is your work? </label>
            <select name="sensitive">
                <option value=""></option>
                <option value="Not very sensitive">Not very sensitive</option>
                <option value="Somewhat sensitive">Somewhat sensitive</option>
                <option value="More sensitive than most">More sensitive than most</option>
                <option value="Extremely sensitive">Extremely sensitive</section></option>
            </select>
        </div>
        <div>
            <label>Since the start of the last academic year, how often have you self-censored your professional expression (research, teaching/studies, publication, public expression) because of fear of professional, legal, or violent retaliation? <label>
            <select>
                <option value=""></option>
                <option value="Never">Never</option>
                <option value="Sometimes">Sometimes</option>
                <option value="Frequently">Frequently</option>
                <option value="All the time">All the time</option>
            </select>
        </div>
        <div>
            <label>Since the start of the last academic year, how many professional colleagues or students are you aware of who have self-censored their professional expression (research, teaching/studies, publication, public expression) because of fear of professional, legal, or violent retaliation?
            <label>
            <select>
                <option value=""></option>
                <option value="None">None</option>
                <option value="A few">A few</option>
                <option value="A majority">A Majority</option>
                <option value="Almost all">Almost all</option>
            </select>
        </div>
        <div>
            <label>Since the start of the last academic year, how often have you advised any professional colleagues or students to self-censor their professional expression (research, teaching/studies, publication, public expression) because of fear of professional, legal, or violent retaliation?</label>
            <select>
                <option value=""></option>
                <option value="Never">Never</option>
                <option value="Sometimes">Sometimes</option>
                <option value="Frequently">Frequently</option>
                <option value="All the time">All the time</option>
            </select>
        </div>
        <div>
            <label>What is the primary source of consequences that you or any professional colleagues or students might fear that would cause you to self-censor your professional expression (research, teaching/studies, publication, public expression)? </label>
            <select> 
                <option value=""></option>
                <option value="Colleagues/Professional peers">Colleagues/Professional peers</option>
                <option value="University/Employer">University/Employer</option>
                <option value="Home Country Government">Home Country Government</option>
                <option value="Foreign Country Government">Foreign Country Government
                </option>
                <option value="Society/Public">Society/Public</option>
                <option value="Not sure">Not sure</option>
                <option value="No fear of consequences">No fear of consequences</option>
            </select>
        </div>
        <div>
            <label>Since the start of the last academic year, have you experienced any professional, legal, or violent retaliation for your professional expression (research, teaching/studies, publication, public expression)? </label>
            <select>
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Not sure">Not sure</option>
            </select>
        </div>
        <div>
            <label>Since the start of the last academic year, are you aware of any professional colleagues or students who have experiences any professional, legal, or violent retaliation for their professional expression (research, teaching/studies, publication, public expression)? </label>
            <select>
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Not sure">Not sure</option>
            </select>
        </div>
        <div>
            <label>Compared to before the start of the last academic year, are you more or less likely today to self-censor your professional expression (research, teaching/studies, publication, public expression) because of fear of professional, legal, or violent retaliation? </label>
            <select>
                <option value=""></option>
                <option value="More likely">More likely</option>
                <option value="Less likely">Less likely</option>
                <option value="About the same">About the same</option>
            </select>
        </div>
    </form>
</body>
</html>