<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Scholars At Risk</title>
</head>

<body>
    <div>
        <p>This is placeholder introductory information.</p>
    </div>
    <form>
        <div>
            <label>Please identify your user type: <label>
            <select name="user">
                <option value=""></option>
                <option value="Scholar">Scholar</option>
                <option value="Student">Student</option>
                <option value="Administrator">Administrator</option>
                <option value="Non-University">Non-University</option>
            </select>
        </div>
        <div>
            <label>Please identify your age range: <label>
            <select name="age">
                <option value=""></option>
                <option value="20-29">20-29</option>
                <option value="30-39">30-39</option>
                <option value="40-49">40-49</option>
                <option value="50-59">50-59</option>
                <option value="60-69">60-69</option>
                <option value="70+">70+</option>
            </select>
        </div>
        <div>
            <label>Please identity your gender: </label>
            <select name="gender">
                <option value=""></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Nonbinary">Nonbinary</option>
            </select>
        </div>
        <div>
            <label>Please identify your country of residence: </label>
            <select name="countries">
                <option value=""></option>
                {% for coun in countries %}
                <option name="{{ coun["country"] }}" value="{{ coun["continent"] }}">{{ coun["country"] }}</p>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Please identify your primary professional language: </label>
            <select name="language">
                <option value=""></option>
                {% for lang in languages %}
                <option name="{{ languages[lang] }}" value="{{ languages[lang] }}">{{ languages[lang]['native'] }}</p>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Please identify your employment status: </label>
            <select name="employment">
                <option value=""></option>
                <option value="Tenure or permanent">Tenure or other permanent employment</option>
                <option value="Full time time limited">Full-time time-limited contract</option>
                <option value="Adjunct or part time">Adjunct or part-time contract</option>
                <option value="Part time">Part-time no contract</option>
                <option value="Not employed">Not employed</option>
            </select>
        </div>
        <div>
            <label>Please identify your disciple area: </label>
            <select name="employment">
                <option value=""></option>
                <option value="Natural Sciences">Natural Sciences</option>
                <option value="Social Sciences">Social Sciences</option>
                <option value="Arts and Humanities">Arts and Sumanities</option>
                <option value="Engineering">Engineering</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Medicine">Medicine</option>
                <option value="Business and Finance">Business/Finance</option>
                <option value="Law and Human Rights">Law/Human Rights</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div>
            <label>How sensitive is your work? </label>
            <select name="sensitive">
                <option value="Not very sensitive">Not very sensitive</option>
                <option value="Somewhat sensitive">Somewhat sensitive</option>
                <option value="More sensitive than most">More sensitive than most</option>
                <option value="Extremely sensitive">Extremely sensitive</section></option>
            </select>
        </div>
    </form>
</body>

</html>