<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Scholars At Risk</title>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    <div class="text-center">
        <h2>Thank you for filling out our form!</h2>
        <p>The data you have entered will be sent to Scholars at Risk and will help them better quantify self-censorship.</p>
        <p>If you are interested in learning more about our organization or contributing to our cause, please take a look at our website, <a href="https://www.scholarsatrisk.org">scholarsatrisk.org</a></a>
        Or follow us on twitter! <a href = "https://twitter.com/ScholarsAtRisk?s=17"></a></p>
    </div>
</body>
</html>